# Datacleaning
Hierbei werden erstmals die Daten, welche eingelesen wurden zur vearbeitung vorbereitet.
Dazu geh√∂rt Nullwerte entfernen und Anpassungen treffen.

In [1]:
import pandas as pd
import numpy as np

## Beschreibung der Daten

In [2]:
sample_submission = pd.read_csv('sample_submission.csv')

print(sample_submission.shape[0])

41088

In [3]:
store = pd.read_csv('store.csv')

print(store.shape[0])
print(store.info())
store.head(10)

1115
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

## Spalten raus werfen
Da wir durch eine Korrelation herausgefunden haben, dass die drei Spalten "CompetitionDistance", "CompetitionOpenSinceMonth" und "CompetitionOpenSinceYear" nicht mit den "Sales" zusammenh√§ngt, werden diese aus dem Datenframe entfernt.

In [4]:
# Drop CompetitionDistance, CompetitionOpenSinceMonth, CompetitionOpenSinceYear columns
store.drop(['CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear'], axis=1, inplace=True)

print(store.info())
store.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store            1115 non-null   int64
 1   StoreType        1115 non-null   object
 2   Assortment       1115 non-null   object
 3   Promo2           1115 non-null   int64
 4   Promo2SinceWeek  571 non-null    float64
 5   Promo2SinceYear  571 non-null    float64
 6   PromoInterval    571 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 61.1+ KB
None

,Store,StoreType,Assortment,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,0,NaN,NaN,NaN
1,2,a,a,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,0,NaN,NaN,NaN
4,5,a,a,0,NaN,NaN,NaN
5,6,a,a,0,NaN,NaN,NaN
6,7,a,c,0,NaN,NaN,NaN
7,8,a,a,0,NaN,NaN,NaN
8,9,a,c,0,NaN,NaN,NaN
9,10,a,a,0,NaN,NaN,NaN

In [5]:
train = pd.read_csv('train.csv')

print(train.shape[0])
print(train.info())
train.head(10)

/tmp/ipykernel_9063/975434801.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train.csv')

1017209
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1

## Datenframes zusammenf√ºhren (Mergen)

In [6]:
# Merge train and store data
merged_df = pd.merge(train, store, on='Store', how='left')

print(merged_df.info())
merged_df.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 15 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Store            1017209 non-null  int64
 1   DayOfWeek        1017209 non-null  int64
 2   Date             1017209 non-null  object
 3   Sales            1017209 non-null  int64
 4   Customers        1017209 non-null  int64
 5   Open             1017209 non-null  int64
 6   Promo            1017209 non-null  int64
 7   StateHoliday     1017209 non-null  object
 8   SchoolHoliday    1017209 non-null  int64
 9   StoreType        1017209 non-null  object
 10  Assortment       1017209 non-null  object
 11  Promo2           1017209 non-null  int64
 12  Promo2SinceWeek  509178 non-null   float64
 13  Promo2SinceYear  509178 non-null   float64
 14  PromoInterval    509178 non-null   object
dtypes: float64(2), int64(8), object(5)
memory usage: 124.2+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,0,NaN,NaN,NaN
5,6,5,2015-07-31,5651,589,1,1,0,1,a,a,0,NaN,NaN,NaN
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,c,0,NaN,NaN,NaN
7,8,5,2015-07-31,8492,833,1,1,0,1,a,a,0,NaN,NaN,NaN
8,9,5,2015-07-31,8565,687,1,1,0,1,a,c,0,NaN,NaN,NaN
9,10,5,2015-07-31,7185,681,1,1,0,1,a,a,0,NaN,NaN,NaN

In [7]:
# set date type to datetime and split date into year, month, day
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df['Year'] = merged_df['Date'].dt.year
merged_df['Month'] = merged_df['Date'].dt.month
merged_df['Day'] = merged_df['Date'].dt.day

merged_df.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,0,NaN,NaN,NaN,2015,7,31
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,0,NaN,NaN,NaN,2015,7,31
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,0,NaN,NaN,NaN,2015,7,31
5,6,5,2015-07-31,5651,589,1,1,0,1,a,a,0,NaN,NaN,NaN,2015,7,31
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,c,0,NaN,NaN,NaN,2015,7,31
7,8,5,2015-07-31,8492,833,1,1,0,1,a,a,0,NaN,NaN,NaN,2015,7,31
8,9,5,2015-07-31,8565,687,1,1,0,1,a,c,0,NaN,NaN,NaN,2015,7,31
9,10,5,2015-07-31,7185,681,1,1,0,1,a,a,0,NaN,NaN,NaN,2015,7,31

## Spalten entfernen cleaning
Die Spalten "Promo2" "Promo2SinceWeek", "Promo2SinceYear" und "PromoInterval" werden entfernt, da diese zu wenig Einfluss auf die Sales haben und lediglich die Dauer der Promotion anzeigen, w√§hrend der Fakt das eine Promotion stattfindet bereits durch die Spalte Promo gekl√§rt wird, dar√ºber hinaus fehlen 50% der Datens√§tze, was eine Auswertung erschwert.

In [8]:
# Drop Promo2, Promo2SinceWeek, Promo2SinceYear, PromoInterval columns
merged_df.drop(['Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'], axis=1, inplace=True)

print(merged_df.info())
merged_df.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
 9   StoreType      1017209 non-null  object
 10  Assortment     1017209 non-null  object
 11  Year           1017209 non-null  int64
 12  Month          1017209 non-null  int64
 13  Day            1017209 non-null  int64
dtypes: datetime64[ns](1), int64(10), object(3)
memory usage: 116.4+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,Year,Month,Day
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,2015,7,31
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,2015,7,31
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,2015,7,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,2015,7,31
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,2015,7,31
5,6,5,2015-07-31,5651,589,1,1,0,1,a,a,2015,7,31
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,c,2015,7,31
7,8,5,2015-07-31,8492,833,1,1,0,1,a,a,2015,7,31
8,9,5,2015-07-31,8565,687,1,1,0,1,a,c,2015,7,31
9,10,5,2015-07-31,7185,681,1,1,0,1,a,a,2015,7,31

In [9]:
test = pd.read_csv('test.csv')

test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [10]:
merged_copy = merged_df.copy()

print(merged_copy.info())
merged_copy.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
 9   StoreType      1017209 non-null  object
 10  Assortment     1017209 non-null  object
 11  Year           1017209 non-null  int64
 12  Month          1017209 non-null  int64
 13  Day            1017209 non-null  int64
dtypes: datetime64[ns](1), int64(10), object(3)
memory usage: 116.4+ MB
None

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,Year,Month,Day
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,2015,7,31
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,2015,7,31
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,2015,7,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,2015,7,31
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,2015,7,31
5,6,5,2015-07-31,5651,589,1,1,0,1,a,a,2015,7,31
6,7,5,2015-07-31,15344,1414,1,1,0,1,a,c,2015,7,31
7,8,5,2015-07-31,8492,833,1,1,0,1,a,a,2015,7,31
8,9,5,2015-07-31,8565,687,1,1,0,1,a,c,2015,7,31
9,10,5,2015-07-31,7185,681,1,1,0,1,a,a,2015,7,31

In [11]:
# show unique values of StateHoliday
merged_copy['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [12]:
# replace 0 with '0'
merged_copy['StateHoliday'] = merged_copy['StateHoliday'].replace(0, '0')

# show unique values of StateHoliday
print(merged_copy['StateHoliday'].unique())
print(merged_copy['StoreType'].unique())
print(merged_copy['Assortment'].unique())

['0' 'a' 'b' 'c']
['c' 'a' 'd' 'b']
['a' 'c' 'b']

In [13]:
# change StateHoliday, StoreType, Assortment columns to numeric values with label encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
merged_copy['StateHoliday'] = le.fit_transform(merged_copy['StateHoliday'])
merged_copy['StoreType'] = le.fit_transform(merged_copy['StoreType'])
merged_copy['Assortment'] = le.fit_transform(merged_copy['Assortment'])

print(merged_copy['StateHoliday'].unique())
print(merged_copy['StoreType'].unique())
print(merged_copy['Assortment'].unique())

# Drop Date column
merged_copy.drop(['Date'], axis=1, inplace=True)

print(merged_copy.info())

[0 1 2 3]
[2 0 3 1]
[0 2 1]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 13 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Sales          1017209 non-null  int64
 3   Customers      1017209 non-null  int64
 4   Open           1017209 non-null  int64
 5   Promo          1017209 non-null  int64
 6   StateHoliday   1017209 non-null  int64
 7   SchoolHoliday  1017209 non-null  int64
 8   StoreType      1017209 non-null  int64
 9   Assortment     1017209 non-null  int64
 10  Year           1017209 non-null  int64
 11  Month          1017209 non-null  int64
 12  Day            1017209 non-null  int64
dtypes: int64(13)
memory usage: 108.6 MB
None

# XGBOOST erledigen